<div class="container">
  <h3>ユーザー情報</h3>
  <div>
    <table class="table">
      <tr>
        <th>従業員氏名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>従業員コード</th>
        <td><%= @user.employee_code %></td>
      </tr>
      <tr>
        <th>部門</th>
        <td><%= @user.section %></td>
      </tr>
      <% if current_user.admin? %>
        <tr>
          <th>時給</th>
          <td><%= @user.payment %>円</td>
        </tr>
        <tr>
          <th>管理者権限</th>
          <td><%= @user.admin %></td>
        </tr>
    </table>
  </div>
  <div id="att_regi">
    <p><%= link_to "従業員情報を編集する", edit_user_path %></p>
    <p><%= link_to "給与明細を表示する", admin_attendance_management_path(@user.id) %><p>
    <p><%= link_to "給与明細の詳細を登録する", new_admin_detail_path(did: @user.id) %><p>
      <% end %>
    <p><%= @user.name %>さんの今月のシフト</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>出勤日</th><th>出勤時間</th><th>退勤時間</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% @attendance_managements.each do |a| %>
        <tr>
          <td><%= a.attendance_date.strftime("%Y年%m月%d日") %></td>
          <td><%= a.sch_attendance.strftime('%H:%M') %></td>
          <td><%= a.sch_leaving.strftime('%H:%M') %></td>
            <% @a_flag = a.approval_flag %>
            <% unless @a_flag == true %>
              <td>
                <%= link_to "編集", edit_attendance_management_path(a.id), :remote => true %> |
                <%= link_to "削除", attendance_management_path(a.id), method: :delete, data: { confirm: '削除しますか?' } %>
              </td>
            <% else %>
              <!-- <td>&nbsp;</td> -->
              <% if a.attendance_date == Date.today %>
                <td><%= link_to "勤怠登録", edit_2_attendance_management_path(a.id), :remote => true %></td>
              <% else %>
                <td>&nbsp;</td>
              <% end %>
            <% end %>
        </tr>
        <% end %>
      </tbody>
  </div>
  <div>
    <%= link_to "シフトを登録する", attendance_managements_path %>
  </div>
</div>
