<h1>シフトの登録</h1>
<div>
  <div>
    <% today = Date.today.next_month %>
    <table class="table table-bordered">
      <h3><%= today.strftime('%Y年%m月') %></h3>
      <thead>
        <tr>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </tr>
      </thead>
      <tbody>
      <% month = today.strftime('%m') %>
      <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday) %>
      <% 1.upto(6).each do |i| %>
        <tr>
          <% (d..d.end_of_week(:sunday)).each do |c| %>
            <td>
              <%= link_to new_attendance_management_path(clicked_date: c),
                                                            :remote => true do %>
                <%= c.strftime('%m') == month ? c.strftime('%d') : "" %>
              <% end %>
              <% @attendance_managements.each do |attendance_management| %>
                <% if c == attendance_management.attendance_date %>
                  <%= link_to edit_attendance_management_path(attendance_management.id), :remote => true do %>
                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                    </svg><span> 編集</span>
                  <% end %>
                  <%= link_to attendance_management_path(attendance_management.id), method: :delete, data: { confirm: '削除しますか?' } do %>
                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                    </svg><span> 削除</span>
                  <% end %><br>
                  <%= attendance_management.sch_attendance.strftime('%H:%M 出勤') %><br>
                  <%= attendance_management.sch_leaving.strftime('%H:%M 退勤') %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% d = d + 1.week %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="input-form"></div>
